{% extends "base.html" %}

{% block content %}
    <h2>Agreement</h2>
    <p>
In business writing, technical writing, and other forms of composition, instructions are written or spoken directions for carrying out a procedure or performing a task. Also called instructive writing.


Step-by-step instructions typically use the second-person point of view (you, your, yours). Instructions are usually conveyed in the active voice and the imperative mood: Address your audience directly.

Instructions are often written in the form of a numbered list so that users can clearly recognize the sequence of the tasks.


Effective instructions commonly include visual elements (such as pictures, diagrams, and flowcharts) that illustrate and clarify the text. Instructions intended for an international audience ​may rely entirely on pictures and familiar symbols. (These are called wordless instructions.)

    </p>
    <h3><a href="/goto_state?event_code=v_10">Agree</a></h3></h3>
    <h3><a href="/goto_state?event_code=v_20">Do not agree</a></h3></h3>
{% endblock %}